*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
    border: none;
}

html, body{
    height: 100%;
    scroll-behavior: smooth;
}

body{
    background: white;
    color: black;
    font-family: "Inter", sans-serif, Calibri;
    font-size: 0.90rem;
    font-weight: 300;
}

/*Transformar esse bg em um carrossel*/
.bg{
    background: url(../img/img_promo.png) no-repeat center;
    background-size: cover;
    height: 80%;
}

header{
    background: #D6D6D6;
    opacity: 75%;
    border-radius: 0 0 20px 20px;
    border-bottom: #D6D6D6 solid 1px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: absolute;
    z-index: 100;
    width: 100%;
}

.logo img {
    opacity: 70%;
    width: 120px;
    height: 50px;
    display: inline-block;
    padding: 5px 10px;
}

#chk-toggle{
    display: none;
}

#toggle{
    display: inline-block;
    padding: 11px;
}

#toggle span{
    display: block;
    width: 30px;
    height: 3px;
    background: #5B2D34;
    margin: 2.5px;

}

nav{
    flex-basis: 100%;
    height: 0;
    overflow: hidden;
}

nav ul{
    display: block;
    margin: 0 15px;
    list-style: none;

}

nav ul li{
    border-bottom:  #808080 solid 1px;
}

nav ul li:nth-last-child(1){
    border-bottom: none;
}

nav a{
    color: #0C0607;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 1.5rem;
    padding: 8px;
    font-family: "Moon Dance", cursive;
}

#chk-toggle:checked ~ nav{
    height: auto;
}

.degrade{
   /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,0.4+96 */
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.4) 96%,rgba(255,255,255,0.4) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    display: block;
    height: 30%;
    position: absolute;
    width: 100%;
    bottom: 0;
}

h2{
    font-family: "Moon Dance", cursive;;
    font-weight: 700;
    margin-top: 3px;
    margin-bottom: 15px;
    color: black;
    text-align: center;
    font-size: 2.5rem;
}

section{
    margin: 0 7px 10px 7px;
    clear: both;
    padding-top: 10%;
}

p{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 2px;
    margin-right: 2px;
    font-size: auto;
    margin-top: 7%;
}

/*Sobre | Curso*/
.container1{
    display: flex;
}

.sub_container1 .esq{float: left; z-index: 3;}
.sub_container1 .margdir{margin-right: 5px; margin-top: 10%; margin-left: 1px;}
.sub_container1 .w45{width: 45%;}

.sobre p{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 25px;
    margin-right: 2px;
}

.curso p{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 25px;
    margin-right: 2px;
}

.curso ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 7px;
    padding-left: 20px;
}


/*Nossos Serviços | Motivo | Cuidados | Atendimento Humanizado*/
.container2{
    display: flex;
}

.sub_container2 .dir{float: right; z-index: 3;}
.sub_container2 .margesq{margin-right: 1px; margin-top: 10%; margin-left: 5px;}
.sub_container2 .w45{width: 45%;}

.servicos p{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 2px;
    margin-right: 25px;
}

.motivos  p{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 2px;
    margin-right: 25px;
}

.cuidados  p{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 2px;
    margin-right: 25px;
}

.atdmto_humanizado p{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 2px;
    margin-right: 25px;
}

ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 2px;
}

/*Mimos*/

.grid-container1{
    display: grid;
    grid-template-columns: 63% auto;
    margin-top: 30px;
    margin-left: 3%;
    margin-right: 5%;
    position: relative;
}

.grid-box1{
    background: #000000;
    width: 8rem;
    height: 6rem;
    margin-top: 5px;
    z-index: 0;
}

.grid-box4{
    background: #000000;
    width: 8rem;
    height: 6rem;
    z-index: 0;
}

.box1{
    background: #5B2D34;
    position: absolute;
    align-items: center;
    justify-self: center;
    flex-direction: row;
    justify-content: space-between;
    width: 18rem;
    height: 8rem;
    margin-top: 50px;
    z-index: 2;
}

.box1 ul{
    color: white;
    font-style: italic;
    margin-top: 12px;
}

.line1{
    background: #000000;
    opacity: 50%;
    width: 20rem;
    height: 0.3rem;
    justify-self: center;
    margin-top: 20px;
}

.grid-container2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 20px;
    margin-left: 3%;
    margin-right: 5%;
    position: relative;
    justify-self: center;
}

.grid-img-mimos{
    width: 6rem;
    height: 6rem;
    margin: 5px;
}

/*Modelos*/
.grid-container3{
    display: grid;
    grid-template-columns: 5rem 5rem;
    row-gap: 7.5rem;
    margin-top: 30px;
    margin-right: 5px;
    position: relative;
}

.grid-box5{
    background: #000000;
    width: 5rem;
    height: 7rem;
    margin-top: 5px;
    z-index: 0;
}

.grid-box8{
    background: #000000;
    width: 5rem;
    height: 7rem;
    z-index: 0; 
}

.box2{
    background: #5B2D34;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    width: 8rem;
    height: 18rem;
    margin-top: 3rem;
    margin-left: 1rem;
    z-index: 2;
}

.box2 ul{
    color: white;
    font-style: italic;
    font-size: 12.5px;
    margin-top: 30px;
}

.line2{
    background: #000000;
    position: relative;
    opacity: 50%;
    width: 0.3rem;
    height: 20rem;
    justify-self: center;
    margin-top: -21rem;
}

.grid-container4{
    display: grid;
    grid-template-columns: 5rem 5rem;
    grid-template-rows: 3.2rem 3.2rem 3.2rem 3.2rem 3.2rem;
    column-gap: 0.3rem;
    float: right;
    margin-top: -20.7rem;
    margin-left: 10px;
    margin-right: 5px;
    position: relative;
}

.grid-container4 .grid-img{
    width: 5rem;
    height: 5rem;
    border-radius: 50px;
}


/*Contato*/

.contato{
    display: flex;
    margin: 0;
    padding: 0;
}

.box3{
    background: #5B2D34;
    width: 100%;
    height: 17rem;
    color: white;
}

.box3 h2{
    color: white;
}

.box3 p{
    margin-left: 10px;
}

.box3 a{
    color: #808080;
    font-style: italic;
}

.box3 ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 43%;
}

.box3 li{
    text-align: left;
    font-size: 13px;
}

.maps{
    margin-top: -7.6rem;
    margin-right: 0.5rem;
}


.footer{
    text-align: center;
    margin: 2px;
    padding: 2px;
    justify-items: center;
}


/* config. ipad mini | ipad air*/
@media only screen and (min-width:600px){

    /*Header*/
    .logo img {
        width: 7.5rem;
        height: 4rem;
        padding: 5px;
    }

    nav{
        height: auto;
        overflow-y: unset;
        flex-basis: unset;
    }

    #toggle{
        display: none;
    }

    nav ul li{
        display: inline-block;
        border-bottom: none;
    }

    nav a{
        padding: 3.3px;
        text-decoration: underline gray;
        display: inline-block;
        font-size: 1.50rem;
    }

    section{
        padding-top: 5%;
    }

    h2{
        font-weight: 800;
        font-size: 4rem;
    }

    p{
        margin-top: 3rem;
        font-size: 25px;
    }

    ul{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 30px;
        margin-right: 2px;
    }

    li{
        font-size: 25px;
    }

    /*Sobre | Curso*/
    .container1{
        display: flex;
    }

    .sub_container1 .margdir{margin-right: 5px; margin-top: 5px;}
    .sub_container1 .w45{width: 40%;}

    .sobre p{
        margin-right: 10px;
    }
    .curso p{
        margin-right: 10px;
        margin-left: 10px;
    }

    .curso ul{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 20px;
        margin-right: 25px;
        padding-left: 20px;
    }

    /*Nossos Serviços | Motivos | Cuidados | Atendimento Humanizado*/
    
    .sub_container2 .margesq{margin-top: 5px; margin-left: 5px;}
    .sub_container2 .w45{width: 40%;}

    .servicos p{
        margin-left: 10px;
    }

    .motivos p{
        margin-left: 10px;
    }

    .cuidados p{
        margin-left: 10px;
    }

    .atdmto_humanizado{
        margin-left: 10px;
        margin-right: 10px;
    }

    
    /*Mimos*/

    .grid-container1{
        grid-template-columns: 72% auto;
        margin-left: 3%;
        margin-right: 5%;
    }

    .grid-box1{
        width: 13rem;
        height: 9rem;
        margin-top: 5px;
    }

    .grid-box4{
        width: 13rem;
        height: 9rem;
        margin-top: -27px;
    }

    .box1{
        width: 30rem;
        height: 12rem;
        margin-top: 50px;
        z-index: 2;
    }

    .box1 ul{
        margin-top: 15px;
    }

    .line1{
        width: 40rem;
        height: 0.5rem;
    }

    .grid-img-mimos{
        width: 10rem;
        height: 10rem;
        margin: 1.5rem;
    }


    /*Modelos*/

    .grid-container3{
        display: grid;
        grid-template-columns: 9rem 9rem;
        row-gap: 12rem;
        margin-top: 30px;
        margin-right: 5%;
        margin-left: 5%;
        position: relative;
    }

    .grid-box5{
        width: 10rem;
        height: 9rem;
        margin-top: 5px;
    }

    .grid-box8{
        width: 10rem;
        height: 9rem;
    }

    .box2{
        width: 15rem;
        height: 26rem;
        margin-left: 9%;
    }

    .box2 ul{
        margin-top: 5px;
        font-size: 20px;
    }

    .line2{
        width: 0.5rem;
        height: 28rem;
        margin-top: -29rem;
    }

    .grid-container4{
        display: grid;
        grid-template-columns: 8rem 8rem;
        grid-template-rows: 4.3rem 4.3rem 4.3rem 4.3rem 4.3rem;
        column-gap: 0.5rem;
        float: right;
        margin-top: -29.4rem;
        margin-left: 5px;
        margin-right: 10%;
        position: relative;
    }

    .grid-container4 .grid-img{
        width: 8rem;
        height: 8rem;
        border-radius: 50%;
    }

    /*Contato*/

    .contato{
        margin-top: 10%;
    }

    .box3{
        height: 30rem;
    }

    .box3 p{
        margin-left: 10px;
        margin-top: 30px;
    }

    .box3 ul{
        margin-left: 5%;
        margin-right: 43%;
        margin-top: 3.5rem;
    }

    .box3 li{
        font-size: 23px;
    }

    .maps{
        margin-top: -12rem;
        margin-right: 0.7rem;
        height: 15rem;
    }

    .footer p{
        margin-top: 10px;
    }

}

/*Config. 1024px*/
@media only screen and (min-width:1000px){

    /*Header*/
    .logo img {
        width: 10rem;
        height: 5rem;
        padding: 5px;
    }

    nav{
        height: auto;
        overflow-y: unset;
        flex-basis: unset;
    }

    #toggle{
        display: none;
    }

    nav ul li{
        display: inline-block;
        border-bottom: none;
    }

    nav a{
        padding: 3.3px;
        text-decoration: underline gray;
        display: inline-block;
        font-size: 2.07rem;
    }

    .bg{
        background: url(../img/img_promo2.png) no-repeat center;
        background-size: cover;
        height: 67%;
    }

    section{
        padding-top: 5%;
    }

    h2{
        font-weight: 800;
        font-size: 4rem;
        text-decoration: underline;
    }

    p{
        margin-top: 8rem;
        font-size: 27px;
    }

    ul{
        margin-left: 40px;
        margin-right: 2px;
    }

    li{
        font-size: 27px;
    }

    /*Sobre | Curso*/
    .container1{
        display: flex;
    }

    .sub_container1 .margdir{margin-right: 5px; margin-top: 5px;}
    .sub_container1 .w45{width: 30%;}

    .sobre p{
        margin-right: 10px;
        margin-left: 20px;
    }
    .curso p{
        margin-right: 10px;
        margin-left: 30px;
    }

    .curso ul{
        margin-left: 30px;
        margin-right: 25px;
        padding-left: 30px;
    }

    /*Nossos Serviços | Motivos | Cuidados | Atendimento Humanizado*/
    
    .sub_container2 .margesq{margin-top: 7px; margin-left: 5px;}
    .sub_container2 .w45{width: 30%;}

    .servicos p{
        margin-left: 20px;
    }

    .motivos p{
        margin-left: 20px;
    }

    .cuidados p{
        margin-left: 20px;
    }

    .atdmto_humanizado{
        margin-left: 20px;
        margin-right: 10px;
    }

    
    /*Mimos*/

    .grid-container1{
        grid-template-columns: 72% auto;
        margin-left: 8%;
        margin-right: 5%;
    }

    .grid-box1{
        width: 13rem;
        height: 9rem;
        margin-top: 5px;
    }

    .grid-box4{
        width: 13rem;
        height: 9rem;
        margin-top: -27px;
    }

    .box1{
        width: 45rem;
        height: 12.5rem;
        margin-top: 50px;
        z-index: 2;
    }

    .box1 ul{
        margin-top: 15px;
    }

    .line1{
        width: 40rem;
        height: 0.5rem;
    }

    .grid-img-mimos{
        width: 12rem;
        height: 12rem;
        margin: 1.5rem;
    }


    /*Modelos*/

    .grid-container3{
        display: grid;
        grid-template-columns: 12rem 12rem;
        row-gap: 15rem;
        margin-top: 30px;
        margin-right: 5%;
        margin-left: 9%;
        position: relative;
    }

    .grid-box5{
        width: 10rem;
        height: 9rem;
        margin-top: 5px;
    }

    .grid-box8{
        width: 10rem;
        height: 9rem;
    }

    .box2{
        width: 17rem;
        height: 29.3rem;
        margin-left: 13%;
    }

    .box2 ul{
        margin-top: 30px;
        font-size: 20px;
    }

    .line2{
        width: 0.5rem;
        height: 30rem;
        margin-top: -31rem;
    }

    .grid-container4{
        display: grid;
        grid-template-columns: 8rem 8rem;
        grid-template-rows: 5rem 5rem 5rem 5rem 5rem;
        column-gap: 2rem;
        float: right;
        margin-top: -32rem;
        margin-left: 5px;
        margin-right: 12%;
        position: relative;
    }

    .grid-container4 .grid-img{
        width: 9rem;
        height: 9rem;
        border-radius: 50%;
    }


    /*Contato*/
    .box3 p{
        margin-left: 10px;
        margin-top: 30px;
        font-size: 27px;
    }

    .box3 ul{
        margin-left: 5%;
        margin-right: 43%;
        margin-top: 3.5rem;
    }

    .box3 li{
        font-size: 27px;
    }

    .maps{
        margin-top: -14rem;
        margin-right: 2rem;
        height: 16rem;
        width: 28rem;
    }

    .footer{
        text-align: center;
        margin: 20px;
        padding: 10px;
        justify-items: center;
    }

    .footer p{
        margin-top: 10px;
    }

}


/*Config. desktop*/
@media only screen and (min-width:1300px){

    /*Header*/
    .logo img {
        width: 10rem;
        height: 3.5rem;
        padding-left: 15px;
    }

    nav{
        height: auto;
        overflow-y: unset;
        flex-basis: unset;
    }

    #toggle{
        display: none;
    }

    nav ul li{
        display: inline-block;
        border-bottom: none;
    }

    nav a{
        padding-left: 10px;
        padding-bottom: 1px;
        padding-top: 1px;
        margin-bottom: 1px;
        margin-top: 1px;
        text-decoration: underline gray;
        display: inline-block;
        font-size: 1.7rem;
    }

    .bg{
        background: url(../img/img_promo2.png) no-repeat center;
        background-size: cover;
        height: 79%;
    }

    section{
        padding-top: 3%;
        position: relative;
    }

    h2{
        font-weight: 600;
        font-size: 3rem;
        text-decoration: underline;
    }

    p{
        margin-top: 1rem;
        font-size: 17px;
    }

    ul{
        margin-left: 40px;
        margin-right: 2px;
    }

    li{
        font-size: 17px;
    }

    /*Sobre | Curso*/

    .sobre{
        display: flex;
        width: 50%;
    }

    .sobre h2{
        margin-left: 15rem;
    }

    .curso{
        display: flex;
        width: 50%;
        margin-top: -14.4rem;
    }

    .curso h2{
        margin-left: 15rem;
    }
    
    .container1{
        display: flex;
    }

    .sub_container1 .margdir{margin-right: 20px; margin-left: 35px;}
    .sub_container1 .w45{width: 20%;}

    .sobre p{
        margin-top: 3rem;
        margin-right: 70px;
        margin-left: 50px;
    }
    
    .curso p{
        margin-top: 3rem;
        margin-right: 70px;
        margin-left: 50px;
    }

    .curso ul{
        margin-left: 65px;
        margin-right: 25px;
        padding-left: 30px;
    }

    /*Nossos Serviços | Motivos | Cuidados | Atendimento Humanizado*/

    .servicos{
        display: flex;
        width: 50%;
        position: relative;
        margin-top: -13rem;
        margin-left: 48%;
    }

    .motivos{
        display: flex;
        width: 50%;
        position: relative;
        margin-left: 48%;
    }

    .cuidados{
        display: flex;
        width: 50%;
        position: relative;
        margin-left: 48%;
    }

    .atdmto_humanizado{
        display: flex;
        width: 50%;
    }

    .container2{
        display: flex;
    }

    .servicos h2{
        margin-left: 15rem;
        width: 50%;
    }

    .motivos h2{
        margin-left: 9rem;
        width: 70%;
    }

    .cuidados h2{
        margin-left: 9rem;
        width: 70%;
    }

    .atdmto_humanizado h2{
        margin-left: 9rem;
        width: 70%;
    }
    
    .sub_container2 .margesq{margin-left: 20px; margin-right: 35px;}
    .sub_container2 .w45{width: 20.7%;}

    .servicos p{
        margin-top: 3rem;
        margin-right: 10px;
        margin-left: 70px;
    }

    .servicos ul{
        margin-left: 65px;
        margin-right: 25px;
        padding-left: 30px;
    }

    .motivos p{
        margin-top: 3rem;
        margin-right: 10px;
        margin-left: 70px;
    }

    .motivos ul{
        margin-left: 65px;
        margin-right: 25px;
        padding-left: 30px;
    }

    .cuidados p{
        margin-top: 3rem;
        margin-right: 10px;
        margin-left: 70px;
    }

    .cuidados ul{
        margin-left: 65px;
        margin-right: 25px;
        padding-left: 30px;
    }

    .atdmto_humanizado p{
        margin-top: 3rem;
        margin-right: 10px;
        margin-left: 10px;
    }

    
    /*Mimos*/

    .grid-container1{
        grid-template-columns: 65% auto;
        margin-left: 21%;
        margin-right: 5%;
    }

    .grid-box1{
        width: 10rem;
        height: 7rem;
        margin-top: 5px;
    }

    .grid-box4{
        width: 10rem;
        height: 7rem;
        margin-top: -1px;
    }

    .box1{
        width: 45rem;
        height: 10rem;
        margin-top: 50px;
        z-index: 2;
    }

    .box1 ul{
        margin-top: 1.7rem;
    }
    .box1 li{
        font-size: 18px;
    }

    .line1{
        width: 40rem;
        height: 0.3rem;
    }

    .grid-img-mimos{
        width: 8rem;
        height: 8rem;
        margin: 1.5rem;
        margin-top: 0;
    }


    /*Modelos*/

    .modelos{
        display: flex;
        width: 50%;
        position: relative;
        margin-top: -14.5rem;
    }

    .artcl_modelos{
        width: 80%;
    }

    .modelos h2{
        margin-left: 14rem;
    }

    .grid-container3{
        display: grid;
        grid-template-columns: 8.7rem 7rem;
        row-gap: 6.5rem;
        margin-top: 30px;
        margin-right: 5%;
        margin-left: 9%;
        position: relative;
    }

    .grid-box5{
        width: 5rem;
        height: 7rem;
        margin-top: 5px;
    }

    .grid-box8{
        width: 5rem;
        height: 7rem;
    }

    .box2{
        width: 10rem;
        height: 17rem;
        margin-left: 13%;
    }

    .box2 ul{
        margin-top: -20px;
        margin-left: 30px;
    }

    .box2 li{
        font-size: 14px;
    }

    .line2{
        width: 0.3rem;
        height: 18rem;
        margin-top: -19.3rem;
        margin-left: 50px;
    }

    .grid-container4{
        display: grid;
        grid-template-columns: 4rem 4rem;
        grid-template-rows: 3rem 3rem 3rem 3rem 3rem;
        column-gap: 2rem;
        float: right;
        margin-top: -19rem;
        margin-right: 12%;
        position: relative;
    }

    .grid-container4 .grid-img{
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
    }


    /*Contato*/
    .contato{
        display: flex;
        width: 50%;
        position: relative;
        margin-top: -23.8rem;
        margin-left: 50%;
    }

    .box3{
        height: 25rem;
        background-color: white;
    }

    .box3 h2{
        color: black;
    }

    .box3 a{
        color: #5B2D34;
    }

    .box3 p{
        margin-top: 2rem;
        margin-right: 2rem;
        margin-left: 2rem;
        font-size: 17px;
        color: black;
    }

    .box3 ul{
        margin-top: 2rem;
        margin-left: 2rem;
        margin-right: 55%;
        padding-left: 30px;
        color: black;
    }

    .box3 li{
        font-size: 17px;
    }

    .maps{
        margin-top: -10rem;
        margin-right: 2rem;
        height: 12.5rem;
        width: 22rem;
    }

    /*Footer*/

    .footer{
        text-align: center;
        margin: 20px;
        padding: 10px;
        justify-items: center;
    }

    .footer p{
        margin-top: 3rem;
        font-size: 12px;
    }

}