*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
    border: none;
}

html, body{
    height: 100%;
}

body{
    background: white;
    color: black;
    font-family: "Inter", sans-serif, Calibri;
    font-size: 0.96rem;
    font-weight: 300;
}

/*Transformar esse bg em um carrossel*/
.bg{
    background: url(../img/img_promo.png) no-repeat center;
    background-size: cover;
    height: 70%;
}

header{
    background: #D6D6D6;
    opacity: 75%;
    border-radius: 0 0 20px 20px;
    border-bottom: #D6D6D6 solid 1px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position:absolute;
    z-index: 3;
    width: 100%;
}

.logo img {
    opacity: 70%;
    width: 120px;
    height: 50px;
    display: inline-block;
    padding: 5px 10px;
}

#chk-toggle{
    display: none;
}

#toggle{
    display: inline-block;
    padding: 11px;
}

#toggle span{
    display: block;
    width: 30px;
    height: 3px;
    background: #5B2D34;
    margin: 2.5px;

}

nav{
    flex-basis: 100%;
    height: 0;
    overflow: hidden;
}

nav ul{
    margin: 0 15px;
    list-style: none;

}

nav ul li{
    border-bottom:  #808080 solid 1px;
}

nav ul li:nth-last-child(1){
    border-bottom: none;
}

nav a{
    color: #0C0607;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 0.98rem;
    padding: 8px;
}

#chk-toggle:checked ~ nav{
    height: auto;
}

.degrade{
   /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,0.4+96 */
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.4) 96%,rgba(255,255,255,0.4) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    display: block;
    height: 30%;
    position: absolute;
    width: 100%;
    bottom: 0;
}